<tr>
  <td class="p-8 text-center text-xs pt-16">
    <p class="m-0 mb-4 uppercase"><a class="[text-decoration:none]" href="https://interviews.so">interviews.so</a></p>
    <p class="m-0 mb-2">You are receiving this email because this is a message involving your account.</p>
    <p class="m-0">
      <a href="mailto:support@interviews.so" class="[text-decoration:underline]">Support</a>
      &bull;
      <a href="https://github.com/interviews-so" class="[text-decoration:underline]">Github</a>
    </p>
  </td>
</tr>